<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py $(find robot_description)/urdf/r2.xacro" />
 
    
     <include file="$(find gazebo_ros)/launch/willowgarage_world.launch"/>
  


 
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model r2 -z 0.1" />

      <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

 
  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
	<param name="publish_frequency" type="double" value="50.0"/>
 </node>
	<node	name="map_server" pkg="map_server" type="map_server" args="$(find robot_description)/map/mymap.yaml" output="screen"/>
 
 



 
<node name="amcl" pkg="amcl" type="amcl" output="screen">
	<remap from="scan" to ="/r2/camera/scan"/>	
	<param name="base_frame_id" value="link_chassis"/>
        <param name="use_map_topic" value="true"/>
</node>

  <node name="rviz" pkg="rviz" type="rviz" />

</launch>
